

@font-face {
    font-family: Maven Pro Bold;
    src: url(../fonts/MavenPro-Bold.ttf);
 }
 
 @font-face {
    font-family: Maven Pro Regular;
    src: url(../fonts/MavenPro-Regular.ttf);
 }
 
 h1, h2, h3, h4, h5, h6{
    font-family: Maven Pro Bold !important;
 }
 *{
    font-family: Maven Pro Regular;
 }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

header{
    height: 17%;
    background-color: #C1271F;
}

header h1{
    margin-left: 12%;
    margin-top: 4%;
    text-align: center;
}

.filtrador{
    display: flex;
    flex-direction: row;
}

.filtre{
    /* display: flex;
    flex-wrap: wrap; */
    margin: 5px 5px 10px 5px;
    width: 70vw;
}

#estat{
    width: 20vw;
    height: 5vh;
    margin: 0px 0px 2px 0px;
    background-color: white;
    color: black;
    border: none;
}

#codiPostal{
    width: 100%;
    height: 5vh;
    background-color: white;
    color: black;
    border: none;
    border-radius: 70px;
    padding: 5px 10px;

}

#filtrar{
    margin-top: 5px;
    background-color: #F67871;
    border: none;
    border-radius: 20px;
    width: 25vw;
    height: 5vh;
}

#entrega{
    background-color: #E0E0E0;
    height: 100%;
}

ul{
    height: auto;
    width: 100%;
    padding: 15px;
    list-style: none;
}

li{
    height: auto;
    background-color:#bdbdbd;
    border-radius: 10px;
    padding: 10px 38px;
    margin-bottom: 15px;
}

li h2{
    font-size: 25px;
    font-weight: bold;
    color: black;

}

li h3{
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
}

#ImatgeCamara{
    width: 100%;
}

#cameraTakePicture, #scanData{
    width: 100%;
    background: rgb(167,26,18);
    background: linear-gradient(90deg, rgba(167,26,18,1) 0%, rgba(246,120,113,1) 75%);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-family: Maven Pro;
}